@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* VARIABLES -----------------------------------*/
/* width */
::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #e1e1e1;
}


:root{
    --primary-color:#fff;
    --secondary-color:#000;
}
.dark-theme{
    --primary-color:#000;
    --secondary-color:#fff;
}



/* GENERAL --------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
html{
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory;
    overflow-x: hidden;*/
    background-color: var(--primary-color);

}
body{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-weight: 400;
    text-transform: uppercase;
    /* -webkit-text-stroke: 1px rgb(255, 167, 243); */
}
h4{
    font-weight: 700;
    font-size: 1.1rem;
}
p{
    font-weight: 400;
    font-size: .9rem;
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}
input{
    border: 0px;
    border-bottom: 1px solid var(--secondary-color);
}

button{
    cursor: pointer;
    padding: 7px 20px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    margin: 10px;
    color: var(--secondary-color);
}
/* main {
    padding: 0;
    margin-left: 0p;
} */
picture{
    cursor: pointer;
}


/* HEADER -------------------------------------------------*/

#accueil{
    width: 100%;
}
header {
    /* background-color: var(--primary-color); */
    width: auto;
    height: auto;
    margin: 35px 10px 35px 10px;
    /* text-align: left; */
    color: var(--secondary-color);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.cart-item-count p{
    transform: translate(0%,10%);
}
nav ul {
    list-style-type: none;
    margin: 16rem 30rem 0 0;
    padding: 5%;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a{
    color: var(--primary-color);
    text-decoration: none;
    /* padding: 5px 10px; */
    display: flex;
    align-items: center;
}
/* svg{
    margin-left: 11%;
} */
/* #logo-brand{
    width: 85px;
    visibility: hidden;
} */
/* #logo-brand2{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95px;
    z-index: 100;
} */
.header{
    position: flex;
    /* top: 0; */
    /* left: 50%;
    transform: translateX(-50%); */
    /* width: 95px; */
    z-index: 100;
    /* background-color: rgb(244, 193, 209); */
}
.header h1{
    color: var(--secondary-color);
}
.scrollbar{
    background-color: #eeeeee;
    height: 30%;
    width: 4px;
    z-index: 100;
    position: fixed;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
}
.scrollbar-level{
    background-color: var(--secondary-color);
    height: 30%;
    width: 100%;
}





/* ICON ------------------------------------------- */
.bx{
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}
/* .bx:hover{
    background-color: #eeeeee;
} */

.bx-chevron-left{
    position: absolute;
    left: 7%;
    top: 50%;
}
.bx-chevron-right{
    position: absolute;
    right: 7%;
    top: 50%;
}


/* BODY | MAIN ----------------------------------------*/
section{
    margin-bottom: -2%;
    /* scroll-snap-align: start; */
    position: relative;
    padding: 3% 7% 9% 7%;
    /* background-color: var(--primary-color); */
}
section img{
    width: 100%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 0px;
    margin-bottom: 40px;
}

.gallery img{
    width: 100%;
    height: auto;
}
.gallery video{
    width: 100%;
}

iframe{
    width: 560px;
    height: 315px;
}
.text-over{
    position: absolute;
    top: 90%;
    /* left: 7.2%; */
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: pointer;
}
.text-over .bx-chevron-right{
    position: relative;
    top: 2.5px;
    left: 0px;
}

#last-section{
    margin-bottom: 30.5%;
    padding-bottom: 0%;
}





/* FOOTER ---------------------------------------------*/
#footer ul li a{
    text-decoration: none;
}
#footer ul li a:hover{
    border-bottom: 2px solid var(--secondary-color);
    transition: .5s;
}
#footer{
    z-index: -100;
    margin-top: 25px;
    /* padding: 50px 0 100px ; */
    /* margin-top: 50px; */
    text-transform: uppercase;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#made-by{
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid var(--secondary-color);
}
#made-by p{
    text-transform: uppercase;
    margin: 0 15% 0 15%;
}
#footer ul li {
    list-style-type: none;
    padding: 2px 0;
}
.liste-services a:hover {
    border: 2px solid var(--secondary-color);
}
.bloc-footer{
    width: 25%;
    margin: 0 30px;
    text-align: left;
}
.bloc-footer h3{
    padding-bottom: 20px;
}
#form button{
    color: var(--secondary-color);
}

.bas-de-page{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -100;
    font-size: 13px;
    padding-bottom: 0;
}
.bas-de-page img{
    width: 10%;
    margin-bottom: 15%;
}





/* CART | PANIER---------------------------------------------------------- */
/* .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 650px;
    min-height: 100vh;
    padding: 50px;
    z-index: 150;
    transition: .3s;
}
.cart.active{
    right: 0;
}
.cart-shadow{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 149;
    cursor: pointer;
}
.cart-shadow.active{
    right: 0;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 150px;
    height: 245px;
    object-fit: contain;
    padding: 10px 0 10px 0;
}
.cart-remove{
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
}
.cart-remove:hover{
    border-bottom: 1px solid var(--secondary-color);
}

.cart-quantity{
    outline-color: var(--primary-color);
    width: 2.5rem;
} */






/* CART---------------------------------- */
.cart-item-count p{
    transform: translate(0%,10%);
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 650px;
    min-height: 100%;
    padding: 50px;
    background-color: #fff;
    z-index: 150;
    transition: .3s;
}
.cart.active{
    right: 0;
}
.cart-shadow{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 149;
    cursor: pointer;
}
.cart-shadow.active{
    right: 0;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 140px;
    /* height: 170px; */
    object-fit: cover;
    object-position: top;
    padding: 10px 0 10px 0;
}
.cart-remove{
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
}
.cart-remove:hover{
    border-bottom: 1px solid var(--secondary-color);
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-quantity{
    outline-color: var(--primary-color);
    width: 2.5rem;
}
#close-cart{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: .5s;
}
#close-cart:hover{
    background-color: #eeeeee;
}
#cart-icon{
    cursor: pointer;
}
#cart-icon[data-quantity="0"]::after {
    contain: "";
}
#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
}
.total-and-buy{
    position: fixed;
    width: 38%;
    bottom: 0px;
    border-top: 1px solid black;
    background-color: var(--primary-color);
}

.see-more{
    transform: translate(9%,-140%);
    color: #ffffff;
    font-size: small;
    /* z-index: 91; */
}
.see-more.active{
    right: 34%;
    transition: .3s;
}

.total{
    display: flex;
    margin: 10px 0 10px 0;

}
.total-price{
    position: absolute;
    right: 0;

}
.btn-buy{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;

    display: flex;
    margin: 1.5rem auto 1rem auto;
    padding: 15px 43%;
    /* width: 100%;
    min-height: 50px; */
    font-weight: 700;
    font-size: 15px;
}
.btn-buy:hover{
    background-color: rgb(39, 39, 39);
}
.cart-empty{
    color: gray;
    display: block;
    margin-top: 50%;
} 


/* CONNEXION----------------------------------------- */
.connexion-item-count p{
    transform: translate(0%,10%);
}
.connexion{
    position: fixed;
    top: 0;
    right: -100%;
    width: 650px;
    min-height: 100%;
    padding: 50px;
    background-color: #fff;
    z-index: 150;
    transition: .3s;
}
.connexion.active{
    right: 0;
}
.connexion-shadow{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 149;
    cursor: pointer;
}
.connexion-shadow.active{
    right: 0;
}

.connexion-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.connexion-img{
    width: 140px;
    /* height: 170px; */
    object-fit: cover;
    object-position: top;
    padding: 10px 0 10px 0;
}
.connexion-remove{
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
}
.connexion-remove:hover{
    border-bottom: 1px solid var(--secondary-color);
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.connexion-quantity{
    outline-color: var(--primary-color);
    width: 2.5rem;
}
#close-connexion{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: .5s;
}
#close-connexion:hover{
    background-color: #eeeeee;
}
#connexion-icon{
    cursor: pointer;
}
#connexion-icon[data-quantity="0"]::after {
    contain: "";
}
#connexion-icon[data-quantity]::after {
    content: attr(data-quantity);
}
.total-and-buy{
    position: fixed;
    width: 38%;
    bottom: 0px;
    border-top: 1px solid black;
    background-color: var(--primary-color);
}

.see-more{
    transform: translate(9%,-140%);
    color: #ffffff;
    font-size: small;
    /* z-index: 91; */
}
.see-more.active{
    right: 34%;
    transition: .3s;
}

.total{
    display: flex;
    margin: 10px 0 10px 0;

}
.total-price{
    position: absolute;
    right: 0;

}
.btn-buy{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;

    display: flex;
    margin: 1.5rem auto 1rem auto;
    padding: 15px 43%;
    /* width: 100%;
    min-height: 50px; */
    font-weight: 700;
    font-size: 15px;
}
.btn-buy:hover{
    background-color: rgb(39, 39, 39);
}
.connexion-empty{
    color: gray;
    display: block;
    margin-top: 50%;
} 






/* SUCESS & CANCEL PAGES ---------------------------------------------------- */
.sc-container{
    padding-top: 10%;
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-color); */
    margin: 0 20px 0 20px;
}
.sc-container button{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.cancel h1{
    color: red;
}







/* RESPONSIVE ---------------------------------------------*/
@media screen and (max-width:769px){
    #last-section{
        margin-bottom: 110%;
    }
}

@media screen and (max-width:651px){
    .cart{
        width: 100%;
        padding: 30px;
    }
    .cart-img{
        width: 100px;
        height: 163.3px;
        object-fit: contain;
        padding: 10px 0 10px 0;
    }
    .cart-title{
        font-size: .85rem;
    }
    .cart-product-title, .cart-remove, .cart-price, .cart-quantity{
        font-size: .7rem;
    }
    .cart-quantity{
        width: 1.5rem;
    }
    
}

@media screen and (max-width:540px){
    .bas-de-page{
        font-size: 11px;
    }
    #footer{
        /* z-index: 100; */
        margin-bottom: 5px;
        margin-top: 25px;
        padding: 50px 0 40px ;
        /* margin-top: 50px; */
        text-transform: uppercase;
    
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center; 
    }
    .bloc-footer{
        width: 50%;
        margin: 0 30px;
        text-align: right;
        transform: translate(70%, 0%);
    }
    .bloc-footer h3{
        margin-top: 12%;
        margin-bottom: -6%;
        /* text-align: right; */
    }
}

@media screen and (max-width:426px){
    #last-section{
        margin-bottom: 150%;
    }
    .btn-buy{
        padding: 15px 41%;
        font-weight: 400;
        font-size: 14px;
    }
    #close-cart{
        top: 1.4rem;
        right: 1.2rem;
        font-size: 1rem;
    }

    .text-over, .text-over a{
        color: var(--primary-color);
    }
}

@media screen and (max-width:376px){
    h1{
        font-size: 35px;
        font-weight: 700;
        margin: 0 5%;
    }
    ul li a img{
        width: 75px;
    }
    /* svg{
        margin-left: 8%;
    } */
    #last-section{
        margin-bottom: 150%;
    }
}

@media screen and (max-width:321px){
    #last-section{
        margin-bottom: 170%;
    }
    .cart-box{
        display: grid;
        grid-template-columns: 45% 45% 10%;
        align-items: center;
        gap: .6rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }
    .btn-buy{
        padding: 13px 37%;
    }
}

@media screen and (max-width:281px){
    h1{
        font-size: 30px;
        font-weight: 700;
        margin: 0 5%;
    }
    ul li a img{
        width: 58px;
    }
    /* svg{
        margin-left: 3%;
    } */
    #last-section{
        margin-bottom: 205%;
    }
    .cart{
        padding: 20px;
    }
    .cart-box{
        margin-right: 1.6rem;
    }
    #close-cart{
        top: .9rem;
        right: .8rem;
        font-size: 1rem;
    }
}

