@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #ffffff;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    }


:root{
    --primary-color:#fff;
    --secondary-color:#000;
}
.dark-theme{
    --primary-color:#000;
    --secondary-color:#fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 13px;
}
html{
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory;
    overflow-x: hidden;*/
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 5%;
}
h2{
    font-size: 15px;
    font-weight: 700;
}
h3{
    color: rgb(0, 0, 0);
    font-weight: 400;
    /* -webkit-text-stroke: 1px rgb(255, 167, 243); */
}
h1,h2{
    text-transform: uppercase;
}
#accueil{
    width: 100%;
}

body{
    color: var(--secondary-color);
    text-align: center;
    /* text-transform: uppercase; */
}

header {
    /* background-color: var(--primary-color); */
    padding: 10px;
    text-align: left;
    color: var(--secondary-color);
    background-color: #ffffff;
    position: relative;
    height: auto;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-bottom: 0px;
}

.slider-frame{
overflow: hidden;
height: 800px; width: 1200px;
margin-left: 360px;
margin-top: 20px;
}


.slide-images{ 
width: 3600px; height: 800px;
margin: 0 0 0 -2400px; position: relative;
--webkit-animation-name: slide_animation;
--webkit-animation-duration: 33s;
--webkit-animation-iteration-count: infinite;
--webkit-animation-direction: alternate;
--webkit-animation-play-state: running;
 }

.img-container{ height: 800px; width: 1200px;
position: relative;
float: left;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    display: inline-block;
}

nav ul li a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
nav h1{
    color: #000;
}
svg{
    margin-left: 11%;
}

ul li a img{
    width: 100px;
}

/* .cions{
    position: absolute;
    top: 30%;
    right: 4%;
} */
.cions h4{
    color: var(--primary-color);
}
.cions img {
    width: 7%;
}
#menu{
    width: 8%;
    position: absolute;
    left: 2%;
    top: 35%;
}
#shop{
    width: 8%;
    position: absolute;
    right: 2%;
    top: 33%;
}
.logo img{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#footer ul li a{
    text-decoration: none;
}
#footer ul li a:hover{
    border-bottom: 2px solid black;
    transition: .5s;
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}

/* button{
    cursor: pointer;
    padding: 7px 20px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    margin: 10px;
    color: var(--secondary-color);
} */
button {
    cursor: pointer;
    /* padding: 9px 80px; */
    width: 92%;
    height: 3rem;
    background-color: #242424;
    border: 2px solid var(--secondary-color);
    margin: 10px;
    margin-bottom: 4%;
    color: var(--primary-color)
}
.text-over{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-over, .text-over h4, .text-over p, nav h1, .text-over a{
    color: var(--primary-color);
}
main {
    padding: 0px;
    margin-left: 0px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 0px;
    margin-bottom: 40px;
}

.gallery img{
    width: 100%;
    height: auto;
}
.gallery video{
    width: 100%;
}

iframe{
    width: 560px;
    height: 315px;
}

#icon{
    width: 23px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 80px;
}
.text{
    /* border: 1px solid rgb(0, 0, 0); */
    margin: 10px;
    padding: 5px 0;
}
section{
    margin-bottom: -2%;
    scroll-snap-align: start;
    position: relative;
}
section img{
    width: 100%;
}

#last-section{
    margin-bottom: 30.5%;
    
}
.nouvelle_collection{
    position: relative;
    text-align: left;
    padding: 5% 5%;
    background-color: #ffffff;
    /* border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; */
}

#footer{
    /* z-index: 100; */
    margin-bottom: 5px;
    margin-top: 25px;
    padding: 50px 0 100px ;
    /* margin-top: 50px; */
    text-transform: uppercase;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#made-by{
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid black;
}
#made-by p{
    text-transform: uppercase;
    margin: 0 15% 0 15%;
}
#footer ul li {
    list-style-type: none;
    padding: 2px 0;
}
.liste-services a:hover {
    border: 2px solid black;
}
.bloc-footer{
    width: 25%;
    margin: 0 30px;
    text-align: left;
}
.bloc-footer h3{
    padding-bottom: 20px;
    font-weight: bold;
}
#form button{
    color: #000;
}
input{
    border: 1px solid black;
    /* border-right: 0px; */
    border-radius: 0%;
    margin-right: -15px;
    padding: 10.8px 25px 10.2px 10px;
    /* transform: translate(10%,45%); */
    outline: none;
}

.container-inner{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 300px;
    padding: 5%;
    /* border: 1px solid black; */
}
.bas-de-page{
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: -100;
    font-size: 13px;
}
.bas-de-page2{
    position: fixed;
    bottom: 13%;
    width: 100%;
    z-index: -100;
    font-size: 13px;
}
.bas-de-page img{
    width: 10%;
    margin-bottom: 15%;
}


/* CART---------------------------------- */
/* .cart-item-count p{
    transform: translate(0%,10%);
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 650px;
    min-height: 100%;
    padding: 50px;
    background-color: #fff;
    z-index: 150;
    transition: .3s;
}
.cart.active{
    right: 0;
}
.cart-shadow{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 149;
    cursor: pointer;
}
.cart-shadow.active{
    right: 0;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 140px;
    //height: 170px;
    object-fit: fill;
    //object-position: center;
    padding: 10px 0 10px 0;
}
.cart-remove{
    cursor: pointer;
    transition: .3s;
    border-bottom: 1px solid var(--primary-color);
    width: 50%;
}
.cart-remove:hover{
    border-bottom: 1px solid var(--secondary-color);
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-quantity{
    outline-color: var(--primary-color);
    width: 2.5rem;
}
#close-cart{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: .5s;
}
#close-cart:hover{
    background-color: #eeeeee;
}
#cart-icon{
    cursor: pointer;
}
#cart-icon[data-quantity="0"]::after {
    contain: "";
}
#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
}
.total-and-buy{
    position: fixed;
    width: 38%;
    bottom: 0px;
    border-top: 1px solid black;
    background-color: var(--primary-color);
}

.see-more{
    transform: translate(9%,-140%);
    color: #ffffff;
    font-size: small;
    //z-index: 91;
}
.see-more.active{
    right: 34%;
    transition: .3s;
}

.total{
    display: flex;
    margin: 10px 0 10px 0;

}
.total-price{
    position: absolute;
    right: 0;

} */
/* #btn{margin-left: 0;}
.btn-buy{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;

    display: flex;
    margin: 1.5rem auto 1rem auto;
    padding: 15px 43%;
    width: 100%;
    min-height: 50px;
    font-weight: 700;
    font-size: 15px;
}
.btn-buy:hover{
    background-color: rgb(39, 39, 39);
}
.cart-empty{
    color: gray;
    display: block;
    margin-top: 50%;
}  */




/* ---------------------------------------------------------------------- */
/* Shop content */
.shop{
    background-color: #fff;
    padding-top: .3rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    gap: 0rem;
    cursor: pointer;
}
.shop-content2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: .5rem;
    cursor: pointer;
    padding: 5% 2%;
    background-color: #ffffff;
}
.section-title{
    text-align: center;
    margin-bottom: .3rem;
    background-color: #fff;
}
.product-box{
    width: 100%;
    /* height: 115%; */
    position: relative;
    /* background-color: aquamarine; */
    /* border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230); */
}
/*.product-box:hover{
    border: 1px solid var(--secondary-color);
    transition: .5s;
}*/
.product-box p {
    margin: 0 18%;
}
.product-img{
    width: 100%;
    /* margin-top: 10%; */
    /* padding: 5%; */
    height: auto;
    /* border: 1px solid rgb(255, 255, 255); */
    object-fit: fill;
    object-position: center;
}
.price{
    margin-bottom: 10%;
}
.add-cart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: .5s;
}
.add-cart:hover{
    background-color: #d9d9d9;
}





/* --------------Icon---------------- */
.bx{
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}
/* .bx:hover{
    background-color: #eeeeee;
} */
.bx-chevron-left{
    position: absolute;
    left: 7%;
    top: 50%;
}
.bx-chevron-right{
    position: absolute;
    right: 7%;
    top: 50%;
}
.bx-store{
 margin-left: 120vh;
}
#imgP{
    width: 300px;
    height: 10%;
    padding: 50px;
    margin-top: 10%;
    border: 1px solid black;
}

.info{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3%;
    color: var(--primary-color);
    background-color: rgb(30, 30, 30);
    z-index: 1;
}
.info2{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 3%;
    color: var(--primary-color);
    background-color: rgb(30, 30, 30);
    z-index: 1;
}


/*--------------Product page---------------------*/
.espace-commander{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    border-top: 1px solid rgb(240, 240, 240);
    padding-top: 2%;
    z-index: 100;
}
.titre-prix{
    position: relative;
}
.block-espace{
    /* border: 1px solid black; */
    width: 100%;
    height: 31.7rem;
    overflow: hidden;
}
.block-espace img{
    /* width: 100%; */
    object-fit: fill;
    object-position: center;
}




/* drag */
.wrapper {
    display: flex;
    grid-gap: 1rem;
    /* max-width: 768px; */
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none; /* for firefox */
    object-fit: fill;
    object-position: center;
  }
  
  .wrapper::-webkit-scrollbar { /* for chrome */
    display: none;
  }
  
  .slider {
    /* min-width: calc(50% - .5rem); */
    min-width: 100%;
    aspect-ratio: 1 / 1;
    /* background: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    scroll-snap-align: start;
    font-weight: 600;
    user-select: none;
  }















/*@MEDIA*/


/*ORDINATEUR*/
@media screen and (min-width:769px){
    button {
        width: 40%;
    }
    .logo img{
        width: 13%;
    }
    #menu{
        width: 2%;
    }
    .wrapper {
        grid-gap: .5rem;
        /* max-width: 768px; */
        /* width: 100%; */
        height: 400px;
    }
    .slider {
    min-width: calc(30% - .5rem);
    /* min-width: 100%; */
    }
    .bas-de-page2{
        bottom: 19%;
    }
    .block-espace{
        /* border: 1px solid black; */
        width: 100%;
        height: 27rem;
        overflow: hidden;
    }
    .block-espace img{
        /* width: 100%; */
        object-fit: fill;
        object-position: center;
    }
    .nouvelle_collection{
        position: relative;
        text-align: left;
        padding: 3% 20%;
    }
    .shop-content2{
        padding: 2% 20%;
    }
}






/*MOBILE*/
@media screen and (max-width:769px){
    /* .total-and-buy{
        width: 72%;
    } */
    #last-section{
        margin-bottom: 110%;
    }
    .bas-de-page2{
        bottom: 10%;
    }
}

@media screen and (min-width:651px) and (max-width:768px){
    #menu{
        width: 4%;
    }
    .logo img{
        width: 25%;
    }
    .bas-de-page2{
        bottom: 12%;
    }
}



@media screen and (max-width:651px){
    /* .cart{
        width: 100%;
        padding: 30px;
    }
    .cart-img{
        width: 100px;
        height: 163.3px;
        object-fit: contain;
        padding: 10px 0 10px 0;
    }
    .cart-title{
        font-size: .85rem;
    }
    .cart-product-title, .cart-remove, .cart-price, .cart-quantity{
        font-size: .7rem;
    }
    .cart-quantity{
        width: 1.5rem;
    }
    .total-and-buy{
        width: 88%;
    } */

}


@media screen and (max-width:540px){
    .bas-de-page{
        font-size: 11px;
    }
    #footer{
        /* z-index: 100; */
        margin-bottom: 5px;
        margin-top: 25px;
        padding: 50px 0 40px ;
        /* margin-top: 50px; */
        text-transform: uppercase;

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .bloc-footer{
        width: 50%;
        margin: 0 30px;
        text-align: right;
        transform: translate(70%, 0%);
    }
    .bloc-footer h3{
        margin-top: 12%;
        margin-bottom: -6%;
        /* text-align: right; */
    }
}



@media screen and (max-width:426px){
    #last-section{
        margin-bottom: 150%;
    }
    h1{
    font-size: 25px;
    font-weight: 700;
    margin: 0 5%;
    }
    /* .btn-buy{
        padding: 15px 41%;
        font-weight: 400;
        font-size: 14px;
    } */
    /* #close-cart{
        top: 1.4rem;
        right: 1.2rem;
        font-size: 1rem;
    }
    .total-and-buy{
        width: 84%;
    } */
    /* .see-more.active{
        bottom: 18%;
        right: 75%;
        transition: .3s;
    } */
    .cions{
        position: absolute;
        top: 25%;
        right: 6%;
    }
}


@media screen and (max-width:376px){
    /* .total-and-buy{
        width: 80%;
    } */
    /* .see-more.active{
        bottom: 19%;
        right: 75%;
        transition: .3s;
    } */
    /*h1{
        font-size: 35px;
        font-weight: 700;
        margin: 0 5%;
    }*/
    ul li a img{
        width: 75px;
    }
    svg{
        margin-left: 8%;
    }
    #last-section{
        margin-bottom: 150%;
    }
}



@media screen and (max-width:321px){
    /* .cart-box{
        display: grid;
        grid-template-columns: 45% 45% 10%;
        align-items: center;
        gap: .6rem;
        margin-top: 1rem;
        margin-right: 1rem;
    } */
    /* .btn-buy{
        padding: 13px 37%;
    } */
    #last-section{
        margin-bottom: 170%;
    }
}



@media screen and (max-width:281px){
    /* .cart{
        padding: 20px;
    }
    .cart-box{
        margin-right: 1.6rem;
    }
    #close-cart{
        top: .9rem;
        right: .8rem;
        font-size: 1rem;
    }
    .total-and-buy{
        width: 88%;
    } */
    h1{
        font-size: 30px;
        font-weight: 700;
        margin: 0 5%;
    }
    ul li a img{
        width: 58px;
    }
    svg{
        margin-left: 3%;
    }
    #last-section{
        margin-bottom: 205%;
    }
}