@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text&family=Inter:wght@400;700;900&family=Macondo&display=swap');
/* *{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;} */
/* *{font-family: 'Cardo', serif;} */
*{font-family: 'Inter', sans-serif;}
/*body{display:flex; justify-content:center; align-items: center;}*/
/* canvas{
    border: 2px solid #000000;
} */
body{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
    /*background-image: url("img/sky3.png");*/
    /*display:flex; justify-content:center; align-items: center;*/
}
header {
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid rgb(248, 248, 248); */
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
    background-color: #ffffff;
}
header img{
    height: auto;
    width: 240px;
}
header a{
    margin:0 3%;
}
a:link{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color: #000;
}
footer {
    height: 400px;
    width: 100%;
    display: flex;
    color: #000;
    /* margin-top: 10%; */
    justify-content: center;
    align-items: center;
    /* background-color: rgb(25, 25, 25); */
    border-top: 2px solid rgb(248, 248, 248);
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 2%;
}
#logo{
    width: 40px;
    height: auto;
}






.container {
    /* background-color: #81205a; */
    justify-content: center;
    display: flex; /*inline-flex*/
    align-items: center;
    align-content: flex-start; /*center*/
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5%;
}
.item {
    /* background-color: rgb(223, 114, 42); */
    padding-left: 2%;
    padding-right: 2%;
    /* background-color: #6a6a6a; */
}
#item1_2{
    justify-items: right;
}
#item3{
    width: 100%;
    text-align: center;
    padding: 12%;
}

button {
    background-color: #fff;
    border: 2px solid #000;
    font-weight: bold;
    padding: 5px 20px;
    margin: 15px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
button:hover {
    background-color: #f6f6f6;
}
#btn_noir{
    background-color: #000;
    font-weight: bold;
    padding: 10px 30px;
    margin: 10px 0px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_noir:hover{
    background-color: #373737;
}

p{
    color: grey;
    font-size: small;
}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 500px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos{
    margin-top: 10%;
    border-top: 2px solid #000;
}
.infos:hover{
    cursor: pointer;
}

#gen_ideas{
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 2;
    background-color: rgb(78, 184, 149);
    border-color: rgb(78, 184, 149);
    color: #ffffff;
}

option{
    text-align: center;
}
select{
    width: 100%;
    height: auto;
    border-radius: 0;
}



/*----------------------------------------------------------------------------------*/

@media screen and (max-width:855px){
    button{
        display: inline-flex;
        margin: 5px;
    }
}
@media screen and (max-width:1350px){
    #item3{
        width: 60%;
    }
}
